.navbarContainer {
  background-color: ghostwhite;
  width: 100%;
  height: 54px;
  padding: 0 1em;
  border-bottom: 2px solid lightgray;
}

.stickyNav {
  position: fixed;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.5s;
}

.branding {
  display: flex;
  gap: 12px;
}

.logo {
  margin-top: 14px;
}

.companyName {
  font-size: 1.125em;
  font-weight: 600;
}

.navbarGroup {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list {
  font-size: 1em;
  font-weight: 400;
}

.listGroup {
  display: none;
}

.cartIconContainer {
  position: relative;
  display: flex;
  gap: 6px;
}

.cartTotal {
  align-self: center;
  font-size: 14px;
  font-weight: 500;
}

.cartIcon {
  font-size: 2em;
}

.hamburger-wrapper {
  display: block;
}

@media (min-width: 991px) {
  .navbarContainer {
    height: 70px;
  }

  .companyName {
    font-size: 1.5em;
  }

  .logo {
    margin-top: 22px;
  }

  .listGroup {
    display: flex;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    list-style-type: none;
  }

  .hamburgerWrapper {
    display: none;
  }
}
