.navbarContainer {
  padding: 0 10px;
  border-bottom: 2px solid lightgray;
}

.branding {
  display: flex;
  gap: 12px;
}

.logo {
  margin-top: 28px;
}

.navbarGroup {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.listGroup {
  display: none;
  visibility: hidden;
}

.list {
  font-size: 1em;
  font-weight: 400;
}

.cartIconContainer {
  position: relative;
  display: flex;
  gap: 6px;
}

.cartTotal {
  align-self: center;
  font-size: 14px;
  font-weight: 500;
}

.cartIcon {
  font-size: 2em;
}

@media (min-width: 768px) {
  .listGroup {
    display: flex;
    visibility: visible;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    list-style-type: none;
  }
}
