.grid {
  width: 100%;
  flex-direction: column;
}

@media (min-width: 600px) {
  .container {
    padding: 0 2rem;
    margin: 0 auto;
    width: 50vw;
  }

  .main {
    position: relative;
    min-height: 100vh;
    padding: 2rem 0;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }

  .cartQuantityIndicator {
    position: absolute;
    top: 26px;
    right: 58px;
    font-size: 1.25rem;
    color: red;
  }

  .cartIcon {
    position: absolute;
    top: 46px;
    right: 40px;
    font-size: 3em;
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .title a {
    color: #0070f3;
    text-decoration: none;
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .title,
  .description {
    text-align: center;
  }

  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 100%;
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: border-color 0.15s ease;
    background-color: 'ghostwhite';
  }

  .card:hover,
  .card:focus,
  .card:active {
    border-color: #0070f3;
  }

  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
}
